@font-face {
  font-family: "iconfont"; /* Project id 4492078 */
  src: url('iconfont.woff2?t=1722478698787') format('woff2'),
       url('iconfont.woff?t=1722478698787') format('woff'),
       url('iconfont.ttf?t=1722478698787') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-up:before {
  content: "\ecac";
}

.icon-arrow:before {
  content: "\ecad";
}

.icon-arrow-circle-left:before {
  content: "\ecae";
}

.icon-angle-double-right:before {
  content: "\ecaf";
}

.icon-alert:before {
  content: "\ecb0";
}

.icon-arrow-circle-up:before {
  content: "\ecb1";
}

.icon-arrow-down:before {
  content: "\ecb2";
}

.icon-arrow-left:before {
  content: "\ecb3";
}

.icon-arrow-circle-down:before {
  content: "\ecb4";
}

.icon-arrows-corner:before {
  content: "\ecb5";
}

.icon-arrow-right:before {
  content: "\ecb6";
}

.icon-arrows-horizontal:before {
  content: "\ecb7";
}

.icon-angle-right:before {
  content: "\ecb8";
}

.icon-arrow-circle-right:before {
  content: "\ecb9";
}

.icon-arrow-top-right:before {
  content: "\ecba";
}

.icon-arrow-up:before {
  content: "\ecbb";
}

.icon-arrow-top-left:before {
  content: "\ecbc";
}

.icon-back-left:before {
  content: "\ecbd";
}

.icon-back-right:before {
  content: "\ecbe";
}

.icon-bar-chart:before {
  content: "\ecbf";
}

.icon-bar-chart-alt:before {
  content: "\ecc0";
}

.icon-basketball:before {
  content: "\ecc1";
}

.icon-bolt-alt:before {
  content: "\ecc2";
}

.icon-blackboard:before {
  content: "\ecc3";
}

.icon-bookmark:before {
  content: "\ecc4";
}

.icon-bookmark-alt:before {
  content: "\ecc5";
}

.icon-bolt:before {
  content: "\ecc6";
}

.icon-book:before {
  content: "\ecc7";
}

.icon-calendar:before {
  content: "\ecc8";
}

.icon-camera:before {
  content: "\ecc9";
}

.icon-brush:before {
  content: "\ecca";
}

.icon-check:before {
  content: "\eccb";
}

.icon-check-box:before {
  content: "\eccc";
}

.icon-close:before {
  content: "\eccd";
}

.icon-clip:before {
  content: "\ecce";
}

.icon-bell:before {
  content: "\eccf";
}

.icon-comment:before {
  content: "\ecd0";
}

.icon-cloud-down:before {
  content: "\ecd1";
}

.icon-control-backward:before {
  content: "\ecd2";
}

.icon-control-eject:before {
  content: "\ecd3";
}

.icon-comments:before {
  content: "\ecd4";
}

.icon-control-forward:before {
  content: "\ecd5";
}

.icon-control-play:before {
  content: "\ecd6";
}

.icon-comment-alt:before {
  content: "\ecd7";
}

.icon-control-record:before {
  content: "\ecd8";
}

.icon-crown:before {
  content: "\ecd9";
}

.icon-control-stop:before {
  content: "\ecda";
}

.icon-control-pause:before {
  content: "\ecdb";
}

.icon-control-skip-backward:before {
  content: "\ecdc";
}

.icon-cut:before {
  content: "\ecdd";
}

.icon-control-skip-forward:before {
  content: "\ecde";
}

.icon-cup:before {
  content: "\ecdf";
}

.icon-download:before {
  content: "\ece0";
}

.icon-dribbble:before {
  content: "\ece1";
}

.icon-email:before {
  content: "\ece2";
}

.icon-face-sad:before {
  content: "\ece3";
}

.icon-exchange-vertical:before {
  content: "\ece4";
}

.icon-eye:before {
  content: "\ece5";
}

.icon-eraser:before {
  content: "\ece6";
}

.icon-file:before {
  content: "\ece7";
}

.icon-files:before {
  content: "\ece8";
}

.icon-face-smile:before {
  content: "\ece9";
}

.icon-flag-alt-2:before {
  content: "\ecea";
}

.icon-export:before {
  content: "\eceb";
}

.icon-flag-alt:before {
  content: "\ecec";
}

.icon-flag:before {
  content: "\eced";
}

.icon-folder:before {
  content: "\ecee";
}

.icon-gallery:before {
  content: "\ecef";
}

.icon-fullscreen:before {
  content: "\ecf0";
}

.icon-gift:before {
  content: "\ecf1";
}

.icon-harddrive:before {
  content: "\ecf2";
}

.icon-harddrives:before {
  content: "\ecf3";
}

.icon-headphone:before {
  content: "\ecf4";
}

.icon-help:before {
  content: "\ecf5";
}

.icon-headphone-alt:before {
  content: "\ecf6";
}

.icon-heart:before {
  content: "\ecf7";
}

.icon-home:before {
  content: "\ecf8";
}

.icon-help-alt:before {
  content: "\ecf9";
}

.icon-image:before {
  content: "\ecfa";
}

.icon-import:before {
  content: "\ecfb";
}

.icon-id-badge:before {
  content: "\ecfc";
}

.icon-info:before {
  content: "\ecfd";
}

.icon-info-alt:before {
  content: "\ecfe";
}

.icon-ink-pen:before {
  content: "\ecff";
}

.icon-infinite:before {
  content: "\ed00";
}

.icon-Italic:before {
  content: "\ed01";
}

.icon-layers:before {
  content: "\ed02";
}

.icon-key:before {
  content: "\ed03";
}

.icon-layout-grid2:before {
  content: "\ed04";
}

.icon-layout-grid2-alt:before {
  content: "\ed05";
}

.icon-layout-grid3:before {
  content: "\ed06";
}

.icon-layout-grid3-alt:before {
  content: "\ed07";
}

.icon-layout-line-solid:before {
  content: "\ed08";
}

.icon-layout-placeholder:before {
  content: "\ed09";
}

.icon-layout-tab:before {
  content: "\ed0a";
}

.icon-layout-width-full:before {
  content: "\ed0b";
}

.icon-line-dashed:before {
  content: "\ed0c";
}

.icon-light-bulb:before {
  content: "\ed0d";
}

.icon-line-double:before {
  content: "\ed0e";
}

.icon-line-dotted:before {
  content: "\ed0f";
}

.icon-location-arrow:before {
  content: "\ed10";
}

.icon-location-pin:before {
  content: "\ed11";
}

.icon-loop:before {
  content: "\ed12";
}

.icon-lock:before {
  content: "\ed13";
}

.icon-menu:before {
  content: "\ed14";
}

.icon-menu-alt:before {
  content: "\ed15";
}

.icon-minus:before {
  content: "\ed16";
}

.icon-more:before {
  content: "\ed17";
}

.icon-new-window:before {
  content: "\ed18";
}

.icon-music:before {
  content: "\ed19";
}

.icon-pencil-alt:before {
  content: "\ed1a";
}

.icon-notepad:before {
  content: "\ed1b";
}

.icon-plus:before {
  content: "\ed1c";
}

.icon-pie-chart:before {
  content: "\ed1d";
}

.icon-power-off:before {
  content: "\ed1e";
}

.icon-more-alt:before {
  content: "\ed1f";
}

.icon-na:before {
  content: "\ed20";
}

.icon-pin-alt:before {
  content: "\ed21";
}

.icon-reload:before {
  content: "\ed22";
}

.icon-printer:before {
  content: "\ed23";
}

.icon-receipt:before {
  content: "\ed24";
}

.icon-pin2:before {
  content: "\ed25";
}

.icon-save:before {
  content: "\ed26";
}

.icon-search:before {
  content: "\ed27";
}

.icon-save-alt:before {
  content: "\ed28";
}

.icon-share-alt:before {
  content: "\ed29";
}

.icon-share:before {
  content: "\ed2a";
}

.icon-sharethis:before {
  content: "\ed2b";
}

.icon-sharethis-alt:before {
  content: "\ed2c";
}

.icon-shift-left:before {
  content: "\ed2d";
}

.icon-shift-left-alt:before {
  content: "\ed2e";
}

.icon-shift-right:before {
  content: "\ed2f";
}

.icon-shift-right-alt:before {
  content: "\ed30";
}

.icon-shopping-cart:before {
  content: "\ed31";
}

.icon-shopping-cart-full:before {
  content: "\ed32";
}

.icon-shine:before {
  content: "\ed33";
}

.icon-smallcap:before {
  content: "\ed34";
}

.icon-split-v:before {
  content: "\ed35";
}

.icon-split-v-alt:before {
  content: "\ed36";
}

.icon-stats-down:before {
  content: "\ed37";
}

.icon-split-h:before {
  content: "\ed38";
}

.icon-slice:before {
  content: "\ed39";
}

.icon-settings:before {
  content: "\ed3a";
}

.icon-stats-up:before {
  content: "\ed3b";
}

.icon-target:before {
  content: "\ed3c";
}

.icon-text:before {
  content: "\ed3d";
}

.icon-tag:before {
  content: "\ed3e";
}

.icon-ticket:before {
  content: "\ed3f";
}

.icon-timer:before {
  content: "\ed40";
}

.icon-trash:before {
  content: "\ed41";
}

.icon-time:before {
  content: "\ed42";
}

.icon-underline:before {
  content: "\ed43";
}

.icon-upload:before {
  content: "\ed44";
}

.icon-unlock:before {
  content: "\ed45";
}

.icon-unlink:before {
  content: "\ed46";
}

.icon-uppercase:before {
  content: "\ed47";
}

.icon-user:before {
  content: "\ed48";
}

.icon-view-list-alt:before {
  content: "\ed49";
}

.icon-volume:before {
  content: "\ed4a";
}

.icon-zoom-in:before {
  content: "\ed4b";
}

.icon-write:before {
  content: "\ed4c";
}

.icon-zip:before {
  content: "\ed4d";
}

.icon-zoom-out:before {
  content: "\ed4e";
}

.icon-world:before {
  content: "\ed4f";
}

.icon-wand:before {
  content: "\ed50";
}

.icon-alarm-clock:before {
  content: "\eca2";
}

.icon-angle-double-up:before {
  content: "\eca3";
}

.icon-align-right:before {
  content: "\eca4";
}

.icon-align-justify:before {
  content: "\eca5";
}

.icon-align-center:before {
  content: "\eca6";
}

.icon-angle-left:before {
  content: "\eca7";
}

.icon-align-left:before {
  content: "\eca8";
}

.icon-angle-double-left:before {
  content: "\eca9";
}

.icon-angle-down:before {
  content: "\ecaa";
}

.icon-angle-double-down:before {
  content: "\ecab";
}

